@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';
@plugin 'tailwindcss-primeui';

@theme {
    --font-sans: 'Poppins', sans-serif;
    --color-surface-900: #1c3633;
    --color-surface-950: #142826;
    --color-surface-800: #234642;
    --color-surface-700: #345853;
}

:root {
    --text-color: #1c3633;
    --surface-900: #1c3633;
    --surface-950: #142826;
    --surface-800: #234642;
    --surface-700: #345853;
}

@layer base {
    *, ::before, ::after {
        box-sizing: border-box;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: 'Poppins', sans-serif;
        color: #1c3633;
        margin: 0;
        padding: 0;
    }
}