@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';
@plugin 'tailwindcss-primeui';

@theme {
    --font-sans: 'Poppins', sans-serif;
}

@layer base {
    *, ::before, ::after {
        box-sizing: border-box;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
    }
}